DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

NEXTAUTH_SECRET="cambia-esto-por-un-secreto-seguro-generado-con-openssl-rand"
NEXTAUTH_URL="http://localhost:3000"

# Admin credentials (seed script)
ADMIN_EMAIL="admin@lanobleza.com"
ADMIN_PASSWORD="CambiarEstaContraseña123!"
